@media only screen and (min-width: 768px) {
	.m {
		display: none;
	}

}

@media only screen and (max-width: 768px) {
	.d {
		display: none;
	}

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: "Eczar", sans-serif;
}

body {
	background-color: whitesmoke;
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: mandatory;
}

.scrollable {
	scroll-snap-align: start;
}

a {
	text-decoration: none;
}

#navbar {
	z-index: 1;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	height: 65px;
	background-image: linear-gradient(rgb(0, 99, 102), transparent);
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list-item {
	margin-right: 50px;
	width: 100px;
	font-size: 1.6rem;
	color: white;
	cursor: pointer;
	text-align: center;
	text-justify: distribute;
	transition: 0.2s;
}

.nav-list-item:hover {
	filter: drop-shadow(-2px 0 2px white);
	font-size: 1.55rem;
}

#navbar-logo {
	height: 45px;
	cursor: pointer;
	transition: 0.2s;
}

#navbar-logo:hover {
	filter: drop-shadow(-2px 0 2px white);
}

#burger-ph {
	margin-top: 10px;
}

.bar {
	height: 2px;
	width: 35px;
	background-color: white;
	margin-bottom: 10px;
}

#hero {
	z-index: -1;
	background-image: url('./artwork/tablemountain.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 5px 10px rgb(0, 0, 0);
}

#content-div {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	padding: 40px 80px 30px 80px;
	border-radius: 30px;
	backdrop-filter: blur(2px);
	background-image: linear-gradient(rgba(255, 255, 255, 0.288), transparent);
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
	border-top: 3px solid rgb(226, 255, 246);
}

#intro-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#me {
	position: absolute;
	height: 300px;
	top: -161px;
	left: 330px;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	/* filter: drop-shadow(-7px 5px 5px black); */
}

#propic {
	height: 200px;
	width: 200px;
	object-fit: cover;
	object-position: 0 3px;
	border-radius: 50%;
	background-image: linear-gradient(transparent, rgba(0, 80, 0, 0.74));
}

#title {
	font-size: 7rem;
	color: rgba(0, 0, 0, 0.432);
	line-height: 90px;
	background-image: url('./artwork/tiger.gif');
	background-position: -130px;
	background-size: 150%;
	margin-bottom: 5px;
  -webkit-background-clip: text;
	z-index: 2;
}

#title-help {
	font-size: 1.8rem;
	font-family: 'Dosis';
	color: rgb(255, 255, 255);
	font-weight: 100;
	text-align: center;
	line-height: 10px;
	padding-bottom: 30px;
	/* margin-bottom: 25px; */
	text-shadow: -1px 1px 1px rgb(226, 255, 246, 0.7);
	/* border-bottom: 2px solid rgb(196, 196, 0); */
}

.hero-btn {
	font-size: 1rem;
	font-family: 'Inter';
	color: rgb(255, 255, 255);
	height: 50px;
	width: 170px;
	background-color: transparent;
	margin-top: 20px;
	padding: 15px 20px;
	border-radius: 15px;
	outline: 1px solid white;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.829));
	background-color: rgba(0, 88, 0, 0.788);
	border: none;
	transition: 0.2s;
	cursor: pointer;
	box-shadow: -3px 3px 3px rgba(0, 39, 0, 0.788);
}

.hero-btn:hover {
	/* font-size: 0.95rem; */
	background-color: rgba(255, 255, 255, 0.356);
	outline: 2px solid rgb(8, 117, 50);
	box-shadow: none;
}

.portbtna {
	background-color: rgba(0, 184, 0, 0.76);
}

.btnshome {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 80%;
	margin-top: 10px;
}

#socials {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.socials-icon {
	width: 40px;
	margin-bottom: 15px;
	filter: drop-shadow(2px 2px 2px black);
	transition: 0.2s;
}

.socials-icon:hover {
	filter: drop-shadow(0 0 2px white);
	transform: scale(1.1);
}

.quora {
	border-radius: 50%;
	height: 37px;
}

#socials-about {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 35%;
	gap: 20px;
}


#blacken {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.199);
}

#break1 {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#break2 {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#break3 {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mandela {
	width: 100vw;
	position: fixed;
	/* top: -300px; */
	height: 100vh;
	object-fit: cover;
	/* object-position: -800px -300px; */
	z-index: -1;
}

#break1-text {
	font-size: 1.2rem;
}

#break2-text {
	font-size: 1.2rem;
}

#mandela-span {
	color: rgb(255, 136, 136);
}

#portfolio {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	border-top: 1px solid rgb(0, 51, 51);
	box-shadow: 0 5px 10px rgb(0, 0, 0);
}

#port-workdiv {
	width: 70%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.863);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgb(0, 78, 78);
	border: 2px solid rgb(0, 102, 102);
}

::-webkit-scrollbar-thumb {
	background: whitesmoke;
	background: linear-gradient(red, blue);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:active {
	border: 3px solid white;
	background: rgb(255, 187, 187);
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(red, blue);
	border-radius: 100vw;
	border: 1px solid rgba(255, 255, 255, 0.514);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(228, 228, 255);
}

#port-navdiv {
	width: 30%;
	height: 100%;
	box-shadow: -3px 0 5px black;
	background-image: url('./artwork/productivity.jpg');
	background-size: cover;
	z-index: 1;
	position: relative;
}

#port-work {
	width: 71%;
	height: 100%;
	background-color: rgba(6, 2, 44, 0.37);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	padding: 30px;
	position: absolute;
	transition: 0.6s;
	left: -100vw;
	z-index: 2;
}

#port-work-img {
	margin-top: 30px;
	width: 80%;
	height: 700px;
	margin-bottom: 35px;
	object-fit: contain;
}

#port-work-desc {
	width: 80%;
	font-family: 'Lexend Deca';
}

#port-work-exit {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 4rem;
	top: 20px;
	position: fixed;
	cursor: pointer;
	transition: 0.2s;
	font-family: 'Lexend Deca';
	right: 40px;

}

#port-work-exit:hover {
	color: red;
}

#port-work-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
	font-family: 'Lexend Deca';
}

#port-work-introdiv {
	display: flex;
	width: 70%;
	justify-content: space-evenly;
	margin-bottom: 100px;
}

#port-work-btns {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 0 0 0 15px;
}

.port-work-btn {
	height: 50px;
	margin-bottom: 15px;
	color: azure;
	background-image: linear-gradient(green, black);
	font-family: 'Lexend Deca';
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	transition: 0.3s;
}

.port-work-btn:hover {
	border: 1px solid rgb(135, 255, 106);
	color: rgb(135, 255, 106);
}

#port-title {
	color: white;
	transform: rotate(90deg);
	position: absolute;
	font-size: 8rem;
	font-family: 'Montserrat';
	line-height: 0;
	margin-top: 400px;
	margin-left: -15vw;
}

.card {
	height: 95px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px black;
	border-bottom: 1px solid black;
	background-image: url('./artwork/pattern.jpg');
	margin-top: 15px;
	transition: 0.3s;
	cursor: pointer;
}

.cardTitle {
	z-index: 1;
	font-size: 1.8rem;
	font-family: 'Raleway';
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s;
	font-family: 'Lexend Deca';
}

#port-blacken {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.452);
	position: absolute;
}

.card-darken2 {
	width: 100%;
	height: 95px;
	position: absolute;
	background-image: linear-gradient(transparent, rgb(29, 29, 29));
	transition: 0.2s;
}

.card:hover > .card-darken2{
	background-image: linear-gradient(transparent, rgb(14, 14, 14));
}

.card:hover > h3 {
	font-size: 1.77rem;
	color: rgb(193, 216, 149);
}

#about {
	height: 100vh;
	width: 100vw;
	display: flex;
	position: relative;
	border-bottom: 1px solid rgb(0, 70, 70);
	border-top: 1px solid rgb(0, 70, 70);
}

#perpmotion {
	height: 90px;
	width: 90px;
	z-index: 2;
	position: absolute;
	right: 30px;
	bottom: 30px;
}

#about-introdiv {
	width: 30%;
	background-image: url('./artwork/rhino1.jfif');
	background-repeat: no-repeat;
	background-position: 60%;
	display: flex;
	z-index: 2;
}

#about-title {
	transform: rotate(-90deg);
	font-size: 10rem;
	font-family: 'Raleway';
	margin-left: 400px;
}

#about-contentdiv {
	width: 70%;
	background: rgba(0, 0, 0, 0.6) url('./artwork/bg2.jpg');
	background-blend-mode: darken;
	/* background-image: linear-gradient(black, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.473), transparent); */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 100px;
}

#about-desc {
	font-family: 'Raleway';
	text-align: center;
	font-size: 1.4rem;
	z-index: 2;
}

#about-darken {
	width: 71%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.596);
}
/* 
#about-contactbtn {
	z-index: 2;
	margin-top: 50px;
	width: 130px;
	height: 40px;
	background-color: green;
	font-family: sans-serif;
	cursor: pointer;
} */

#about-btns {
	display: flex;
	gap: 20px;
}

/* #about-portbtn {
	z-index: 2;
	margin-top: 50px;
	width: 130px;
	height: 40px;
	background-color: green;
	font-family: sans-serif;
	cursor: pointer;
} */

.homebtn {
	width: 50px;
	position: absolute;
	margin-top: 40px;
	left: 40px;
	transition: 0.15s;
}

.homebtn:hover {
	filter: drop-shadow(0 0 2px white);
}

.messagebtn {
	width: 50px;
	position: absolute;
	margin-top: 120px;
	left: 40px;
	transition: 0.15s;
}

.messagebtn:hover {
	filter: drop-shadow(0 0 2px white);
}

.homebtn-port {
	width: 50px;
	position: absolute;
	margin-top: 40px;
	right: 40px;
	transition: 0.15s;
}

.homebtn-port:hover {
	filter: drop-shadow(0 0 2px white);
}

.messagebtn-port {
	width: 50px;
	position: absolute;
	margin-top: 120px;
	right: 40px;
	transition: 0.15s;
}

.messagebtn-port:hover {
	filter: drop-shadow(0 0 2px white);
}

#contact {
	height: 100vh;
	width: 100vw;
	display: flex;
	backdrop-filter: blur(10px);	
	/* border-top: 1px solid rgb(0, 39, 39); */
	border-bottom: 2px solid rgb(0, 58, 58);
	box-shadow: 0 -5px 10px rgb(0, 0, 0);
}

#contactForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	background: rgba(0,0,0, 0.6) url('./artwork/bg1.jpg');
	background-size: cover;
	background-blend-mode: darken;
}

#contact-introdiv {
	width: 30%;
	background-image: url('./artwork/contact.jpg');
	background-size: cover;
	background-position: -100px;
	display: flex;
	align-items: center;
	position: relative;
}

#contact-title {
	transform: rotate(-90deg);
	font-size: 10rem;
	font-family: 'Raleway';
}

.homebtn-contact {
	position: absolute;
	width: 50px;
	left: 40px;
	top: 40px;
	transition: 0.15s;
}

.homebtn-contact:hover {
	filter: drop-shadow(0 0 2px white);
}

#fname {
	width: 30%;
	margin-bottom: 10px;
	height: 35px;
	color: black;
	font-family: 'Lexend Deca';
	border-radius: 8px;
	padding-left: 8px;
}

#fmail {
	width: 30%;
	margin-bottom: 10px;
	height: 35px;
	color: black;
	border-radius: 8px;
	padding-left: 8px;
	font-family: 'Lexend Deca';
}

#fmsg {
	width: 30%;
	margin-bottom: 30px;
	height: 90px;
	color: black;
	border-radius: 8px;
	padding-left: 8px;
	padding-top: 6px;
	font-family: 'Lexend Deca';
}

label {
	width: 29%;
	font-family: 'Lexend Deca';
	margin-bottom: 3px;
}

.valign {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	transition: 0.15s;
}

.valign:hover {
	filter: drop-shadow(0 0 2px white);
}

.vg1 {
	filter: invert();
	top: 50%;
	transform: translateY(-50%);
	left: 40px;
}

.vg2 {
	filter: invert();
	top: 50%;
	transform: translateY(-50%);	
	right: 40px;
}

.contactForward {
	font-family: 'Dosis';
	text-align: center;
	line-height: 2rem;
	font-size: 1.4rem;
	margin-bottom: 50px;
}

.about-items {
	z-index: 1;
	position: absolute;
	top: 40px;
	right: 40px;
	backdrop-filter: blur(3px);
	/* background-color: rgba(0, 0, 0, 0.603); */
	border-radius: 20px;
	border: 1px solid rgb(87, 87, 87);
	padding: 15px;
}

.skills {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}